.wrapper {
    margin-top: 20px;
    .container {
        border: 1px solid #dde2e4;
        .side_bar {
            .item {
                width: 100%;
                border: 1px solid #dde2e4;
                display: inline-block;
                margin: 10px 0px;
                padding: 10px;
                &:hover {
                    cursor: pointer;
                }
            }
            .item_user {

            }
            .item_hobbies {

            }
            .item_program {

            }
        }
        .main {
            border: 1px solid #dde2e4;
            margin-top: 10px;
        }
    }
}