.btn:focus {
    outline:none !important;
    border: none;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    .notification {
        background: #df0067;
        color: #fff;
        font-weight: bold;
        .notification_content {
            display: inline-flex;
            margin-left: 10px;
        }
        .notification_destroy {
            display: inline-flex;
            margin-right: 10px;
            padding: 0px 6px;
            border-radius: 4px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .add_item {
        .btn_add_item {
            margin: 10px 0 15px 0;
        }
    }
    .table {
        border: 1px solid #ddd;
        .tr {
            .th {
                //text-align: center;
            }
            .td_action {
                display: inline-flex;
                .btn {
                    display: inline-block;
                }
                .btn_edit {
                    margin-right: 3px;
                }
            }
        }
    }
}